<section id="section{{ sectionno }}" class="mod-accordion {{ item.achtergrond }} bg-text">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
				<div class="text-center">
					{% if item.subtitel %}
						<h6 class="sub mb-2"> {{ item.subtitel }} </h6>
					{% endif %}
					{% if item.titel %}
						<h2> {{ item.titel }} </h2>
					{% endif %}
					{% if item.tekst %}
						<p> {{ item.tekst }} </p>
					{% endif %}
				</div>
				<br>
				<div class="accordion" id="accordion{{ sectionno }}">
					{% if item.cards %}
						{% set cardno = 1 %}
						{% for card in item.cards %}
						  <div class="item">
						  <a id="heading{{ sectionno }}{{ cardno }}" class="heading" data-bs-toggle="collapse" data-bs-target="#collapse{{ sectionno }}{{ cardno }}" aria-controls="collapse{{ sectionno }}{{ cardno }}">
							  <div class="row">
								  <div class="col">
									{{ card.titel }}
								  </div>
								  <div class="col-auto">
									  <i class="fas fa-plus"></i>
									  <i class="fas fa-minus"></i>
								  </div>
							  </div>
						  </a>
							<div id="collapse{{ sectionno }}{{ cardno }}" class="collapse" aria-labelledby="heading{{ sectionno }}{{ cardno }}" data-bs-parent="#accordion{{ sectionno }}">
								<div class="antwoord body3">
									{{ card.tekst }}
								</div>
							</div>
						  </div>
						  {% set cardno = cardno + 1 %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>