{% if post.banner_weergave != 'verbergen' %}
	<section id="banner" class="pb-banner d-flex align-items-center {% if post.banner_achtergrond == 'bg-dark' %}text-white{% endif %} {% if post.banner_weergave == 'toon_xl' %}toon-xl{% endif %} {{ post.banner_achtergrond }} bg-text">
		<div class="fill-space">
			<div class="bg-contain" style="background-image: url({{ Image(post.banner_afbeelding).src }})">
			</div>
		</div>
		<div class="container-fluid container-xl">
			<div class="row">
				<div class="col-9 col-md-8 text-center">
					<h2 class="h1 mb-3 altfont">
						{% if post.banner_titel %}
							{{ post.banner_titel }} 
						{% else %}
							{{ post.title }} 
						{% endif %}
					</h2>
					{% if post.banner_tekst %}
						<p class="lead mb-4"> {{ post.banner_tekst }} </p>
					{% endif %}
					{% if post.banner_link %}
						<a class="btn btn-primary" href="{{ post.banner_link.url }}" target="{{ post.banner_link.target }}">{{ post.banner_link.title }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</section> 
{% endif %}