<section id="section{{ sectionno }}" class="pb-blokken {{ item.achtergrond }} {% if item.scribble %}bg-text{% endif %}">
	{% if item.afbeelding %}
		<div class="fill-space {% if item.parallax %}js-parallax{% endif %}">
			<div class="bg-cover" style="background-image: url({{ Image(item.afbeelding).src }})">
			</div>
		</div>
	{% endif %}
	{% if item.kolom %}
		<div class="row g-0">
			{% for kolom in item.kolom %}
				{% if kolom.acf_fc_layout == 'content' %}
					<div class="col-md">
						<div class="kolom h-100 d-flex align-items-center {{ kolom.achtergrond }} {% if item.afbeelding %}bg-opacity{% endif %} {% if kolom.achtergrond == 'bg-dark' %}text-white{% endif %} {% if kolom.tekst_centreren %}text-center{% endif %}">
							<div class="{% if kolom.tekst or item.titel %}kolom-space{% endif %} last-element-no-mb flex-fill content-styling anime-fadein">
								{% if kolom.titel %}
									<h2 class="{{ kolom.titel_font }}"> {{ kolom.titel }} </h2>
								{% endif %}
								{% if kolom.tekst %}
									{{ kolom.tekst }}
								{% endif %}
								{% if kolom.afbeeldingen %}
									<div class="row g-5">
										{% for image in kolom.afbeeldingen %}
											<div class="col col-sm text-center">
												<img src="{{ Image(image) }}" alt="{{ p.alt }}" class="w-100 h-auto"> 
											</div>
										{% endfor %} 
									</div>
								{% endif %}
								{% if kolom.link %}
									<br>
									<a class="btn {% if item.achtergrond == 'bg-pink' %}btn-outline btn-primary{% else %}btn-primary{% endif %}" href="{{ kolom.link.url }}" target="{{ kolom.link.target }}">{{ kolom.link.title }}</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% elseif kolom.acf_fc_layout == 'afbeelding' %}
					<div class="col-md position-relative bg-cover {{ kolom.achtergrond }} {% if item.afbeelding %}bg-opacity{% endif %} {% if kolom.ruimte_om_afbeelding %}ruimte-om-afbeelding{% endif %}">
						{% if kolom.afbeelding %}
							<div class="fill-space">
								<div class="bg-cover ratio-1x1 w-100" style="background-image: url({{ Image(kolom.afbeelding).src }})">
								</div>
							</div>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
</section>