<section id="investeer" class="pb-cta {{ item.achtergrond }} bg-text">
	{% if item.afbeelding %}
		<div class="fill-space">
			<div class="bg-cover" style="background-image: url({{ Image(item.afbeelding).src }})">
			</div>
		</div>
	{% endif %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 ">
				<div class="card bg-white mt-5 mb-5">
					<div class="card-body">
						{% if item.titel %}
							<h2 class="altfont"> {{ item.titel }} </h2>
						{% endif %}
						{% if item.tekst %}
							<p> {{ item.tekst }} </p>
						{% endif %}
						{% if item.link %}
							<a class="btn btn-primary" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<br>
		{% if item.quotes %}
			<div class="quotes text-sm anime-fadein">
				<div class="row">
					{% for quote in item.quotes %}
						<div class="col-md-4">
							<a {% if quote.link.url %}href="{{ quote.link.url }}"{% endif %} class="quote" target="_blank">
								{% if quote.afbeelding %}
									<div class="quote-image" style="background-image: url({{ Image(quote.afbeelding).src }})"></div>
								{% endif %}
								<div class="quote-block">
									{{ quote.tekst }}
									{% if quote.naam or quote.functie %}
										<div class="mt-2">
											<div class="clearfix"></div>
											<strong>{{ quote.naam }}</strong> {% if quote.functie %}- <i>{{ quote.functie }}</i>{% endif %}
										</div>
									{% endif %}
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
    </div>
</section>