<section id="section{{ sectionno }}" class="pb-cta {{ item.achtergrond }} bg-text">
	{% if item.afbeelding %}
		<div class="fill-space js-parallax">
			<div class="bg-cover" style="background-image: url({{ Image(item.afbeelding).src }})">
			</div>
		</div>
	{% endif %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 ">
				<div class="card bg-white mt-5 mb-5">
					<div class="card-body">
						{% if item.titel %}
							<h2 class="altfont"> {{ item.titel }} </h2>
						{% endif %}
						{% if item.tekst %}
							<p> {{ item.tekst }} </p>
						{% endif %}
						{% if item.link %}
							<br>
							<a class="btn btn-primary" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<br>
		{% if item.quotes %}
			<div class="quotes text-sm">
				<div class="row">
					{% for quote in item.quotes %}
						<div class="col-md-4">
							<div class="quote">
								<img src="{{ Image(quote.afbeelding).src }}">
								<div class="quote-block">
									{{ quote.tekst }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
    </div>
</section>