<section id="section{{ sectionno }}" class="pb-video {{ item.achtergrond }} bg-text">
	{% if item.afbeelding %}
		<div class="fill-space">
			<div class="bg-cover" style="background-image: url({{ Image(item.afbeelding).src }})">
			</div>
		</div>
	{% endif %}
	<div class="container-fluid container-md">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="video-container anime-fadein">
					{{ item.video }}
				</div>
			</div>
		</div>
		{% if item.form %}
			<div class="row mt-5">
				<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<br>
					{{ item.form }}
				</div>
			</div>
		{% endif %}
	</div>
</section>