<footer id="footer" class="section text-center text-md-start" data-scroll-section>
  <div class="container-fluid container-lg">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <img src="{{ Image(options.logo).src }}" alt="{{ Image(options.logo).alt }}">
      </div>
      
      <div class="col-md mb-3 mb-md-0">
        {{ footer_1 }}
      </div>
      
      <div class="col-md mb-3 mb-md-0">
        {{ footer_2 }}
      </div>
      
      <div class="col-md mb-3 mb-md-0">
        <h6> Volg ons </h6>
        {% include 'partial/socialmedia.twig' %}
      </div>
    </div>
    <div class="subfooter">
    	<div class="row">
    		<div class="col-md">
		      <p> 
            © {{ "now"|date('Y') }} {{ site.title }}
          </p>
    		</div>
        <div class="col-md-auto order-first order-md-last mb-2 mb-md-0">
          Site by <a href="https://www.emonks.nl" target="_blank">Emonks</a>
        </div>
    	</div>
    </div>
  </div>
</footer>