<header class="header d-flex align-items-center">
	<div class="container-fluid container-lg"> 
		<div class="row g-2">
			<div class="col d-flex align-items-center">
				<a class="header-brand" href="{{ site.url }}" rel="home">
					<span class="d-none">{{ site.name }}</span>
					<img class="dark" src="{{ Image(options.logo).src }}" alt="{{ Image(options.logo).alt }}">
					<img class="white" src="{{ Image(options.logo_diapositief).src }}" alt="{{ Image(options.logo_diapositief).alt }}">
				</a>
			</div>
			<div class="col-auto d-none d-lg-flex align-items-start">
				{% include "menu.twig" with {'items': menu.get_items} %}
			</div>
			<div class="col-auto d-lg-none">
				<a id="mobilemenubtn" class="btn-menu d-block immune js-menu d-lg-none">
					<div class="lines">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</header>