<a href="{{ item.link }}" target="{{ item.link.target}}" class="tease tease-blog noline mb-30 d-block" data-mh>
	<div class="item">
		<div class="image-holder ratio-16x9 mb-0">
			<div class="image" style="background-image: url({{ Image(item.thumbnail).src|resize(1024) }})"></div>
		</div>
		<div class="box">
			<div data-mh>
				<h6 class="mb-1">{{ item.title }}</h6>
				{{ item.date }}
			</div>
			<div class="read-more-text">Lees meer <i class="fas fa-arrow-right"></i></div>
		</div>
	</div>
</a>