<section class="mod-content single-content content-image bg-greylight" data-scroll-section>
	<div class="container">
		{% if item.slider %}
			<div class="js-slick">
				{% for image in item.afbeeldingen %}
					<div class="item">
						<div class="image ratio-16x9 w-100 bg-cover" style="background-image: url({{ Image(image) }})"></div>
						{% if image.caption %}
							<div class="text-end">
								<p><small><i>{{ image.caption }}</i></small></p>
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="row">
				{% for image in item.afbeeldingen %}
					{% if loop.first and item.afbeeldingen|length != 2 %}
						<div class="col-12 mb-30">
							<div class="image ratio-16x9 w-100 bg-cover" style="background-image: url({{ Image(image) }})"></div>
							{% if image.caption %}
								<div class="text-end">
									<p><small><i>{{ image.caption }}</i></small></p>
								</div>
							{% endif %}
						</div>
					{% else %}
						<div class="col-md mb-30">
							<div class="image ratio-16x9 w-100 bg-cover" style="background-image: url({{ Image(image) }})"></div>
							{% if image.caption %}
								<div class="text-end">
									<p><small><i>{{ image.caption }}</i></small></p>
								</div>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</section>